<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>内测应用分发服务</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/app.min.css">
    <style>.weui-panel:after{display:none!important;}
    </style>
</head>
<body>
<div class="container">
    <div class="page">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">更新日志</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    {{ range .changelog | formatLog }}
                    <p class="weui-media-box__desc">{{ . }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__text">Copyright &copy; ipapk |<a href="/myCA.cer" class="weui-footer__link">安装证书</a></p>
        </div>
    </div>
</div>
</body>
</html>