<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>内测应用分发服务</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
</head>
<body>
<div class="container">
    <div class="page">
        <div class="weui-cells__title">历史版本</div>
        <div class="weui-cells">
            {{ range $k, $v := .versions }}
            <a class="weui-cell weui-cell_access" href="/ipapk/versions/{{ $.uuid }}/{{ $k }}">
                <div class="weui-cell__bd">
                    <p>{{$k}}</p>
                </div>
                <div class="weui-cell__ft">{{$v}} 个构建</div>
            </a>
            {{end}}
        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__text">Copyright &copy; ipapk</p>
        </div>
    </div>
</div>
</body>
</html>