.weui-media-box_appmsg .weui-media-box__hd {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
}
.weui-media-box__hd img {
    border-radius: 10px;
}
.weui-media-box__desc {
    color: #353535 !important;
}
.weui-btn {
    font-size: unset !important;
}
.weui-btn_mini {
    font-size: 12px !important;
    line-height: 2.1 !important;
}
.page__bd_spacing {
    padding: 15px;
}
.weui-loadmore {
    margin: 1.5em auto !important;
}
.qr-wrapper {
    margin: -35px auto 0;
}
.qr {
    width: 190px;
    height: 190px;
    margin: 0 auto;
}
.qr img {
    width: 100%;
    height: 100%;
}